@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap");

body {
	font-family: "Cinzel", serif;
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	background-color: #c9c7c7;
}

header{
    padding: 10px 0px;
}
main{
    margin-bottom: 20px;
}

h1,
a {
	font-weight: 900;
	font-size: 48px;
	color: #4169e1;
}

